{{outlet}}

<h1> Welcome to Shop Lift </h1>

<p>We hope you find exactly what you're looking for.</p>
  <h2>Shop with us Today!</h2>


    {{#each model as |item|}}
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
        <p> <img src="{{item.image}}"></p>
      </div>

      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
        <br>{{item.name}}
        <br>{{item.description}}
        <br>{{item.price}}
        <br>{{item.remaining}}
      </div>
    </div>
  </div>
    {{/each}}



{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
